@model EventAtendersChecklist.Models.Employee

<form id="live-search">
    <fieldset>
        <div style="padding: 20px 0 20px 0">
            <h5>Search:</h5>
            <input type="text" class="text-input" id="filter" value="" onkeydown="if (event.keyCode == 13) return false;" />
            <span id="filter-count"></span>
        </div>
    </fieldset>
</form>

<div id="partialContent">
    @Html.Action("GetEmployees", "Employees")
</div>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var notification = $.connection.signalRHub;

            // Create a function that the hub can call to broadcast messages.
            notification.client.notifyChanges = function () {
                getEmployees();
            };

            // Start the connection.
            $.connection.hub.start().done(function () {
                getEmployees();
            }).fail(function (e) {
            });
        });

        function getEmployees() {
            $.ajax({
                url: '/Employees/GetEmployees',
                cache : false,
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            }).success(function (result) {
                $("#partialContent").empty().append(result);

                $("#filter").text(function () {
                    var filter = $(this).val(), count = 0;
                    $(".Search").each(function () {
                        if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                            $(this).hide();
                        } else {
                            $(this).show();
                            count++;
                        }
                    });
                });
            }).error(function () {

            });
        }
    </script>
}