@model IEnumerable<EventAtendersChecklist.Models.Event>
@using GridMvc.Html;

@if (!User.IsInRole("CP"))
{
<h2>Index</h2>
}

@if (User.IsInRole("HR") && (!User.IsInRole("CP")))
{

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
}

@if (!User.IsInRole("CP"))
{
@Html.Grid(Model).Columns(collumn =>
{
    collumn.Add(x => x.Id, true);
    collumn.Add(x => x.Name).Titled("Event").Sortable(true);
    collumn.Add(x => x.StartDate).Titled("Start Date").Sortable(true)
                .SortInitialDirection(GridMvc.Sorting.GridSortDirection.Descending); ;
    collumn.Add(x => x.EndDate).Titled("End Date").Sortable(true).Filterable(true);
    collumn.Add().Sanitized(false).Encoded(false)
            .RenderValueAs(model => Html.ActionLink("Show", "Show", new { id = model.Id }, new { @class = "btn btn-info" }).ToHtmlString());
    if (User.IsInRole("HR"))
    {
        collumn.Add().Sanitized(false).Encoded(false)
                .RenderValueAs(model => Html.ActionLink("Edit", "Edit", new { id = model.Id }, new { @class = "btn btn-warning" }).ToHtmlString());
        collumn.Add().Sanitized(false).Encoded(false)
                    .RenderValueAs(model => Html.ActionLink("Details", "Details", new { id = model.Id }, new { @class = "btn btn-primary" }).ToHtmlString());
        collumn.Add().Sanitized(false).Encoded(false)
                    .RenderValueAs(model => Html.ActionLink("Delete", "Delete", new { id = model.Id }, new { @class = "btn btn-danger" }).ToHtmlString());
    }
}).WithPaging(10)
}