@model IEnumerable<EventAtendersChecklist.Models.Event>
@using GridMvc.Html;

<h2>History</h2>


@Html.Grid(Model).Columns(collumn =>
{
    collumn.Add(x => x.Id, true);
    collumn.Add(x => x.Name).Titled("Event");
    collumn.Add(x => x.StartDate).Titled("Start Date")
                .SortInitialDirection(GridMvc.Sorting.GridSortDirection.Descending); ;
    collumn.Add(x => x.EndDate).Titled("End Date");
    collumn.Add().Sanitized(false).Encoded(false)
                .RenderValueAs(model => Html.ActionLink("Show", "ShowHistory", new { id = model.Id }, new { @class = "btn btn-info" }).ToHtmlString());
    collumn.Add().Sanitized(false).Encoded(false)
                .RenderValueAs(model => Html.ActionLink("Delete", "Delete", new { id = model.Id }, new { @class = "btn btn-danger" }).ToHtmlString());
}).WithPaging(10)
