@model IEnumerable<EventAtendersChecklist.Models.Event>
@using GridMvc.Html;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Grid(Model).Columns(collumn => {
    collumn.Add(x => x.Id, true);
    collumn.Add(x => x.Name).Titled("Event").Sortable(true);
    collumn.Add(x => x.StartDate).Titled("Start Date").Sortable(true)
                .SortInitialDirection(GridMvc.Sorting.GridSortDirection.Descending); ;
    collumn.Add(x=> x.EndDate).Titled("End Date").Sortable(true).Filterable(true);
    collumn.Add().Sanitized(false).Encoded(false)
                .RenderValueAs(model => Html.ActionLink("Show", "Show", new { id = model.Id }, null).ToHtmlString());
    collumn.Add().Sanitized(false).Encoded(false)
                .RenderValueAs(model => Html.ActionLink("Edit", "Edit", new { id = model.Id }, null).ToHtmlString());
    collumn.Add().Sanitized(false).Encoded(false)
                .RenderValueAs(model => Html.ActionLink("Details", "Details", new { id = model.Id }, null).ToHtmlString());
    collumn.Add().Sanitized(false).Encoded(false)
                .RenderValueAs(model => Html.ActionLink("Delete", "Delete", new { id = model.Id }, null).ToHtmlString());
}).WithPaging(10)