@model EventAtendersChecklist.Models.Event

<div id="partialContent">
    @Html.Action("GetCurrentEvents", "Events")
</div>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var notification = $.connection.signalRHub;

            // Create a function that the hub can call to broadcast messages.
            notification.client.notifyChanges = function () {
                getEvents();
            };

            // Start the connection.
            $.connection.hub.start().done(function () {
                getEvents();
            }).fail(function (e) {
            });
        });
        function getEvents() {
            $.ajax({
                url: '/Events/GetCurrentEvents',
                cache : false,
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            }).success(function (result) {
                $("#partialContent").empty().append(result);
            }).error(function () {

            });
        }
    </script>
}