
<form id="live-search">
    <fieldset>
        <div style="padding: 20px 0 20px 0">
            <h5>Search:</h5>
            <input type="text" class="text-input" id="filter" value="" onkeydown="if (event.keyCode == 13) return false;" />
            <span id="filter-count"></span>
        </div>
    </fieldset>
</form>

<div id="partialContent">
    @Html.Action("GetEventGrid", "Events", new { id = @ViewBag.id})
</div>