@model EventAtendersChecklist.ModelsView.TestView

@using GridMvc.Html;

@{
    ViewBag.Title = "Show list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Show event list</h4>
    <hr />
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>

@Html.Grid(Model.EventAttenderList).Columns(columns =>
{
    columns.Add(x => x.AttenderId, true);
    columns.Add(x => x.FirstName).Titled("Attender").RenderValueAs(x => x.FirstName + " " + x.LastName).Sortable(true);
    columns.Add(x => x.Email).Titled("Email").Sortable(true);
    foreach (var item in Model.ActionDictionaryList)
    {
        columns.Add()
        .Titled(item.Name)
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(o => Html.CheckBox("checkbox" + o.AttenderId++, o.Actions.Where(x => x.ActionId == item.Id).Select(x => x.Value)));
    }
}).WithPaging(20)
<p>
   @Html.ActionLink("Back to List", "Index")
</p>