
<form id="live-search">
    <fieldset>
        <div style="padding: 20px 0 20px 0">
            <h5>Search:</h5>
            <input type="text" class="text-input" id="filter" value="" onkeydown="if (event.keyCode == 13) return false;" />
            <span id="filter-count"></span>
        </div>
    </fieldset>
</form>

<div id="partialContent">
    @Html.Action("GetEventGrid", "Events", new { id = @ViewBag.id})
</div>

@section scripts{
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">
        $(function () {
            var notification = $.connection.signalRHub;

            // Create a function that the hub can call to broadcast messages.
            notification.client.notifyChanges = function () {
                getEvents();
            };

            // Start the connection.
            $.connection.hub.start().done(function () {
                //getEvents();
                AsertClick();
            }).fail(function (e) {
            });
        });


        function getEvents() {
            $.ajax({
                url: '/Events/GetEventGrid',
                data: {
                    id : @ViewBag.id
                },
                cache: false,
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            }).success(function (result) {
                $("#partialContent").empty().append(result);
                $("#filter").text(function () {

                    // Retrieve the input field text and reset the count to zero
                    var filter = $(this).val(), count = 0;

                    // Loop through the comment list
                    $(".Search").each(function () {

                        // If the list item does not contain the text phrase fade it out
                        if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                            $(this).hide();

                            // Show the list item if the phrase matches and increase the count by 1
                        } else {
                            $(this).show();
                            count++;
                        }
                    });

                    // Update the count
                    var numberItems = count;
                    $("#filter-count").text("Number of Attendees = " + count);
                });
            }).error(function () {

            });
        }

        

        

</script>
}